<div class="content-container">
  <div class="content-area">
    <div class="content-area">
      <div class="clr-row">
        <div class="clr-col-12">
          <clr-tabs>
            <clr-tab>
              <button clrTabLink>Teams</button>
              <clr-tab-content *clrIfActive>
                <div class="clr-row">
                  <div class="clr-col-12">
                    <div class="card">
                      <div class="card-header">
                        Scrum Teams
                      </div>
                      <div class="card-block">
                        <div class="card-title">
                          Block
                        </div>
                        <div class="card-text">
                          ...
                        </div>
                      </div>
                      <div class="card-footer">
                        <button class="btn btn-sm btn-link">Footer Action 1</button>
                        <button class="btn btn-sm btn-link">Footer Action 2</button>
                      </div>
                    </div>
                  </div>
                </div>
              </clr-tab-content>
            </clr-tab>
            <clr-tab>
              <button clrTabLink>Default values</button>
              <clr-tab-content *clrIfActive>

              </clr-tab-content>
            </clr-tab>
          </clr-tabs>

        </div>
      </div>
    </div>
  </div>
</div>
